@use '../../../styles/variables' as *;

.sidebar__footer {
  display: flex;
  align-items: center;
  gap: $indent-md;
  flex: 0 0 auto;
  padding: $indent-md;
  border-top: 1px solid $border-color-light;
}
