$indent-xs: 4px;
$indent-sm: 8px;
$indent-md: 12px;
$indent-lg: 16px;
$indent-xl: 20px;
$indent-xxl: 24px;

$color-white: #fff;
$color-black: #000;
$border-color: #888;
$border-color-light: #ccc;
$primary-color: #007000;
$primary-color-hover: #008000;
$primary-color-active: #006000;
$secondary-color: #596559;
$secondary-color-hover: #758075;
$secondary-color-active: #4e574e;
$error-color: #c41212;

$border-radius: 4px;
$border-radius-md: 8px;
$border-radius-circle: 50%;

$font-size-lg: 16px;
$font-size: 14px;
$font-size-sm: 12px;

$line-height-sm: 16px;
$line-height-lg: 24px;

$light-text-color: #666;

$light-background-color: #eee;
$background-color: #ddd;
$background-color-dark: #555;

$shadow-color: #bbb;
$dark-shadow-color: #444;

$control-shadow: 0 0 2px 2px #aaa;
$control-shadow-error: 0 0 2px 2px #e65050;
